.true, .false {
  font-size: 20px;
  font-weight: 400;
}

.true {
  color: rgb(38, 205, 38);
}
  
.false {
  color: rgb(220, 46, 15);
}

.avatar {
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 5px;
}

.name {
  margin: 5px auto;
  font-size: 28px;
  font-weight: 500;
}